@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@500&display=swap');

.visit-card{
    height: 100vh;
    background-image: url('https://images.unsplash.com/photo-1617055669577-64245d59b81a?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1887&q=80');
    background-position: center;
    background-size: cover;
    color: rgb(243, 238, 238)
}

.visit-card p{
    font-size: 1.5rem;
    font-weight: 700;
    font-style: italic;
}

div.visit-card{
    height: 100vh;
    display: grid;
}

.visit-card-header{
    margin: 0;
    margin-top: 30vh;
    font-size: 3.5rem;
    justify-self: center;
    align-self: flex-end;
    font-family: 'Mukta', sans-serif;
    letter-spacing: 0.5rem;
    font-weight: 300;
}

#visit-card-container{
    justify-self: center;
    margin-bottom: 3rem;
    line-height: 2rem;
    max-width: 37vw;
    text-align: center;
}