$white: rgb(238, 238, 238);
$text-shadow: 2px 2px 1px #1a1a1a;

.small-thumbnail{
    grid-template-columns: 1fr;
    color: $white;
    text-align: center;
    h4{
        text-shadow: $text-shadow;
    }
}
