.photo-grid{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
}

.photo-grid img{
    justify-self: center;
    align-self: center;
    margin: 0;
    cursor: pointer;
}

.vertical{
    grid-row-end: span 2;
}