.gallery{
    position:fixed;
    width: 100vw;
    height: 100vh;
    z-index: 10;
    background-color: rgba(60, 60, 60, 0.255);
    backdrop-filter: blur(2px);
    display: grid;
    grid-template-columns: 1fr 11fr 2fr;
    justify-items: center;
    align-items: center;
}

.gallery-images{
    justify-self: left;
    align-items: center;
    display: grid;
    width: 16vw;
    height: 100vh;
    overflow: scroll;
    gap: 0.3rem;
    justify-items: center;
    backdrop-filter: blur(10px);
}

.gallery-images img{
    padding: 0.3rem;
    width: 10vw;
    height: 7vw;
    object-fit: cover;
    cursor: pointer;
}

.viewed{
    max-height: 95vh;
    max-width: 70vw;
}

.gallery .close-btn{
    cursor: pointer;
    margin: 2rem;
    width: 3rem;
    height: 3rem;
    justify-self: flex-start;
    align-self: flex-start;
    background-color: brown;
    border: 1px solid white;
    color: white;
}

.gallery .close-btn:hover{
    background-color: rgb(174, 58, 58);
}

.active-image{
    background-color: #8052c6;
}