$background: url('https://images.unsplash.com/photo-1617055669577-64245d59b81a?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1887&q=80');

footer{
    background-image: $background;
    background-position: bottom;
    background-size: cover;
    color: rgb(243, 238, 238)
}

.ico{
    width: 24px;
    filter: invert(100%)
}

footer a{
    color: rgb(243, 238, 238)
}

.freepik{
    margin-top: 3rem;
    font-size: 0.6rem;
}

.footer-container{
    display: grid;
    justify-content: center;
    text-align: center;
    padding: 10vh 10vw;
}