.article-form{
    justify-self: center;
    width: 50vw;
    display: grid;
}

.article-form textarea{
    resize: none;
    padding: 1rem;

    font-family: 'Lato', sans-serif;
    font-weight: 400;
    letter-spacing: 0.15px;
    font-size: 17px;
    height: 30vh;
}

.article-form select, .article-form button, .button{
    text-align: center;
    padding: 0.5rem;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    letter-spacing: 0.15px;
    font-size: 20px;
    text-transform: uppercase;
}

.article-form input{
  padding: 0.5rem;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  letter-spacing: 0.15px;
  font-size: 20px;
}

.button{
    border: none;
    cursor: pointer;
}

.article-form-list li{
    display: block;
}

.article-form-list input{
    width: 30vw;
    text-align: left;
    
    text-transform: none;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    letter-spacing: 0.15px;
    font-size: 17px;

}

/*===============DODAJ KOMENTARZ============= */

.comment-form{
    display: grid;
}

.comment-form input, label, textarea, button{
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    letter-spacing: 0.15px;
    font-size: 20px;
}

.comment-form input, textarea{
    padding: 0.5rem;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid black;
    margin-bottom: 1.5rem;
    background-color: rgb(226, 226, 226);
}

.comment-form textarea{
    resize: none;
}

label{
    margin-bottom: 0.3rem;
}

.comment-form button{
    padding: 0.5rem;
    
    background-color: #8052c6;
    color: rgb(235, 235, 235);
    border: none;
    transition-duration: 0.3s;
    cursor: pointer;
}

.comment-form button:hover{
    background-color: #8e63ce;
}

.comment-button{
    color: #8e63ce;
    cursor: pointer;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    letter-spacing: 0.15px;
    font-size: 1rem;
}

/*===============KOMENTARZE============= */

.comments-container{
    margin: 3rem 0;
}

.comments{
    text-decoration: none;
    list-style: none;
    margin: 3rem 0;
    padding: 0;
}

.comment-container{
    padding: 0.8rem;
    background-color: rgb(226, 226, 226);
    border-radius: 1rem;
}

.comments h3{
    margin: 0.1rem;
}

.comments p{
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    letter-spacing: 0.15px;
    font-size: 1rem;
}

.comments .author{
    color: #8e63ce;
    font-weight: 700;
}

.comments .break{
    margin-top: 2.5rem;
    border-bottom: 1px solid #d3d3d3;
    width: 100%;
}

.comments-depth2{
    padding: 0.5rem;
}

.comments-depth2 ul{
    list-style: none;
    margin: 0;
    padding: 0;
}

span{
    cursor: pointer;
}