/* 1. Fonts
======================================== */

@import url('https://fonts.googleapis.com/css2?family=Lato&family=Roboto:wght@300;400;500&display=swap');

/* 2. Global Styles
======================================== */
a{
    text-decoration: none;
    color: #707070;
}

article{
    padding: 5vh 5vw;
}

body{
    background-color: #f8f6f6;
    color: #707070;
}    

h1{
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    letter-spacing: -1.5px;
    font-size: 48px;
}

h2{
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    letter-spacing: 0px;
    font-size: 36px;
}

h3{
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    letter-spacing: 0.15px;
    font-size: 28px;
}

p{
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    letter-spacing: 0.15px;
    font-size: 17px;
}

main{
    display: grid;
    margin: 0 10vw;
    grid-template-columns: 2fr 1fr ;
    gap: 0 5vw;
}

/* 3. Components
======================================== */

/*===============Navigation============= */
nav li{
    display: inline-flex;
    justify-self: center;
    margin: 0 2rem;

    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    letter-spacing: 0.15px;
    font-size: 20px;
    text-transform: uppercase;
}

nav ul{
    padding: 0;
}

nav a {
    text-decoration: none;
    color: #707070;
}

nav{
    display: grid;
    justify-content: space-around;
}

/*===============article-form============= */
.article-form{
    justify-self: center;
    width: 50vw;
    display: grid;
}

.article-form textarea{
    resize: none;
    padding: 1rem;

    font-family: 'Lato', sans-serif;
    font-weight: 400;
    letter-spacing: 0.15px;
    font-size: 17px;
    height: 30vh;
}

.article-form select, .article-form button, .button{
    text-align: center;
    padding: 0.5rem;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    letter-spacing: 0.15px;
    font-size: 20px;
    text-transform: uppercase;
}

.article-form input{
  padding: 0.5rem;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  letter-spacing: 0.15px;
  font-size: 20px;
}

.button{
    border: none;
    cursor: pointer;
}

.article-form-list li{
    display: block;
}

.article-form-list input{
    width: 30vw;
    text-align: left;
    
    text-transform: none;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    letter-spacing: 0.15px;
    font-size: 17px;

}

/*===============ARTICLE============= */
article{
    margin: 10vh 0;
    justify-items: center;
    justify-content: center;
}

article h1{
    margin: 0 0 15px 0;
}

article h2{
    margin: 0 0 15px 0;
}

article h3{
    margin: 0 0 15px 0;
}

article p{
    margin: 0 0 15px 0;
}

article ul{
    margin: 0 0 15px 0;
}

article img{
    max-height: 50vh;
    width: 100%;
    object-fit: contain;
    margin: 0 0 15px 0;
}

article section{
    display: grid;
    gap: 1rem;
}

/*===============THUMBNAIL============= */

/*===============POLECANE============= */
.section{
    margin: 10vh 0;
}

/* 3. Colors
======================================== */

.warning{
    background-color: #8c0032;
    color: rgb(235, 235, 235);
    border: none;
}

.primary{
    background-color: #8052c6;
    color: rgb(235, 235, 235);
    border: none;
}

.standard{
    background-color: #ebebeb;
    border: 1px solid rgb(56, 56, 56);
    color: rgb(56, 56, 56);
}

/*===============DODAJ KOMENTARZ============= */

.comment-form{
    display: grid;
}

.comment-form input, label, textarea, button{
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    letter-spacing: 0.15px;
    font-size: 20px;
}

.comment-form input, textarea{
    padding: 0.5rem;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid black;
    margin-bottom: 1.5rem;
    background-color: rgb(226, 226, 226);
}

.comment-form textarea{
    resize: none;
}

label{
    margin-bottom: 0.3rem;
}

.comment-form button{
    padding: 0.5rem;
    
    background-color: #8052c6;
    color: rgb(235, 235, 235);
    border: none;
    transition-duration: 0.3s;
    cursor: pointer;
}

.comment-form button:hover{
    background-color: #8e63ce;
}

.comment-button{
    color: #8e63ce;
    cursor: pointer;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    letter-spacing: 0.15px;
    font-size: 1rem;
}

/*===============KOMENTARZE============= */

.comments-container{
    margin: 3rem 0;
}

.comments{
    text-decoration: none;
    list-style: none;
    margin: 3rem 0;
    padding: 0;
}

.comments li{
    padding: 0.5rem;
}

.comments h3{
    margin: 0.1rem;
}

.comments p{
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    letter-spacing: 0.15px;
    font-size: 20px;
}

.comments .break{
    margin-top: 2.5rem;
    border-bottom: 1px solid #d3d3d3;
    width: 100%;
}

.comments-depth2{
    padding: 0.5rem;
}

.comments-depth2 ul{
    list-style: none;
    margin: 0;
    padding: 0;
}

span{
    cursor: pointer;
}

.nav-dropdown{
    position: absolute;
    margin-top: 1.7rem;
    display: inline-flex;
    flex-direction: column;
}

/*===============Button============= */
 .btn-primary{
    padding: 0.5rem;
    
    background-color: #8052c6;
    color: rgb(235, 235, 235);
    border: none;
    transition-duration: 0.3s;
    cursor: pointer;
 }

 .btn-primary:hover{
    background-color: #8e63ce;
 }

@media only screen and (max-width: 1300px) {
    main{
        grid-template-columns: 1fr ;
    }
  }