.slider{
    overflow: hidden;
    width: 800px;
    height: 500px;
}

.slider-container{
    display: flex;
    height: 500px;
    transition: 1s;
    justify-content: center;
}

.slider-img{
    width: 800px;
    height: 100%;
    object-fit: cover;
    margin: 0;
}

.slider-controls{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: -10%;
}

@media only screen and (max-width: 1300px) {
    .slider-img{
        width: 500px;
    }
    .slider{
        width: 500px;
    }
  }